*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: $ff-lexend;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  background-color: $color-white;
  transition: all .5s linear;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

svg {
  pointer-events: none;
}