// Colors
$color-white: #ffffff;
$color-white-40: rgba(255, 255, 255, 0.40);
$color-white-30: rgba(255, 255, 255, 0.30);
$color-white-10: rgba(255, 255, 255, 0.10);
$color-black: #000000;
$color-space-cadet: #1B1C57;
$color-alice-blue: #F0F3FD;
$color-tropical-rain-forest: #047857;
$color-aero-blue: #D1FAE5;
$color-platinum: #E0E3EB;
$color-orange: #F59E0B;
$color-green-crayola: #10B981;
$color-dark-blue-gray-75: rgba(98, 102, 135, 0.75);
$color-roman-silver: #888B97;
$color-grey-20: rgba(51, 51, 51, 0.059);
$color-grey-30: rgba(51, 51, 51, 0.499);
$color-rhythm: #68799F;
$color-carmine-pink: #EF4444;
$color-misty-rose: #FEE2E2;
$color-police-blue: #3C4563;
$color-new-car: #1D4ED8;
$color-azureish-white: #DBEAFE;
$color-dark-blue-gray: #626687;
$color-mayorelle-blue : rgb(88, 90, 218, 0.1);
$color-mayorelle-blue-5: rgb(88, 90, 218, 0.05);
$color-blueberry: #3B82F6;
$color-maastricht-blue: #0E1735;

// Typography
$ff-lexend: "Lexend", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
